/*--------------------GENERAL STYLING--------------------*/
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300');

body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: rgb(248,237,209);
 	color: rgb(71, 71, 71);
}

b {
	font-size: 20px;
}

i {
	font-size: 20px;
	color: rgb(216,138,138);
}

/*--------------------HEADERS--------------------*/
h1, h2{
	font-size: 40px;
	font-family:'Anton', sans-serif;
	background-color: rgb(197,207,198);
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.5em;
	color: rgb(216,138,138);
	opacity: 0.9;
	text-shadow: 2px 2px rgb(77,77,77);
	text-align: justify;
}

h3 {
	font-size: 25px;
	font-family:'Anton', sans-serif;
	background-color: rgb(197,207,198);
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgb(216,138,138);
	text-shadow: 2px 2px rgb(77,77,77);
	text-align: justify;
}

}

/*--------------------DIVS--------------------*/
div {
	font-family: 'Open Sans Condensed', sans-serif;
 	color: rgb(71, 71, 71);
 	padding-bottom: 100px;
}

#header {
	height: 150px;
	position: 0;
}

#emailbody {
	width: 770px;
	border: 5px solid;
	border-radius: 10px;
	border-color: rgb(211,212,196);
	background-color: rgb(211,212,196);
	opacity: 0.9;
	text-align: justify;
	position: absolute;
	left: 795px;
	top: 200px;
}


/*--------------------PARA--------------------*/

p {
	font-size: 14pt;
	font-family:'Open Sans Condensed', sans-serif;
	text-align: justify;
	}


/*--------------------TABLE--------------------*/
table {
	width: 770px;
	border: 5px solid;
	border-radius: 10px;
	border-color: rgb(211,212,196);
	background-color: rgb(211,212,196);
	opacity: 0.9;
	text-align: justify;

}

th {
	font-family: 'Anton', sans-serif;
	font-size: 16pt;
	letter-spacing: 3px;
	text-transform: uppercase;
	background-color: rgb(179,203,189);
	padding: 5px;
}

tr {
	padding-left: 10px;
	font-size: 14pt;
	background-color: rgb(185,193,178);
}